gradlew
gradlew.bat
gradle
gradle/
.gradle
.kotlin
*.iml
*.iws
*.ipr
.vertx/
.xyz-hub/
.idea/
target/
build/
file-uploads/
/static/
release.properties
/xyz-handler-http/src/test/resources/endpoint
*.log
*.jfr
.$*
.kotlintest
.DS_Store
# To be added later
/here-naksha-lib-log
/vault/
!/vault/README.md
